language: java
jdk:
  - openjdk7
  - openjdk6
  - oraclejdk7
  - oraclejdk8

cache:
  directories:
  - $HOME/.m2/repository

before_install:
  # https://github.com/travis-ci/travis-ci/issues/1689 & https://github.com/travis-ci/travis-ci/issues/4613
  - export MAVEN_SKIP_RC=true
  # https://github.com/travis-ci/travis-ci/issues/5227
  - sudo hostname "$(hostname | cut -c1-63)"
  - sed -e "s/^\\(127\\.0\\.0\\.1.*\\)/\\1 $(hostname | cut -c1-63)/" /etc/hosts | sudo tee /etc/hosts

install:
  #attempt to download all dependencies in the install phase; due to http://jira.codehaus.org/browse/MDEP-82, dependency:go-offline is useless
  - mvn -B -U -T 4 clean verify org.apache.maven.plugins:maven-war-plugin:2.4:help -Dinvoker.skip=true -Dmaven.main.skip=true -Dmaven.plugin.skip=true -Dmaven.test.skip=true -PenableCoverage,travis
  # surefire seems to add this dependency dynamically
  - mvn -B -U -T 4 org.apache.maven.plugins:maven-dependency-plugin:2.10:get -Dartifact=org.apache.maven.surefire:surefire-junit4:2.17
script: mvn -B -o -T 4 clean verify -PenableCoverage,travis
after_success: mvn -B -T 4 jacoco:report coveralls:jacoco

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/217ded7d3afc66dca26a
    on_success: always
    on_failure: always
    on_start: false
