<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        id="deadcode4jWeb"
        version="3.0">
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>root.contextClass</param-value>
    </context-param>
    <context-param>
        <param-name>contextInitializerClasses</param-name>
        <param-value>root.initializerClass,root.secondInitializerClass</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>root.contextConfigLocation,SpringXmlBean</param-value>
    </context-param>
    <context-param>
        <param-name>shouldBeIgnored</param-name>
        <param-value>root.someValue</param-value>
    </context-param>
    <servlet>
        <servlet-name>aServlet</servlet-name>
        <servlet-class>WebAppServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>servlet.contextClass</param-value>
        </init-param>
        <init-param>
            <param-name>contextInitializerClasses</param-name>
            <param-value>servlet.initializerClass</param-value>
        </init-param>
        <init-param>
            <param-name>ignoreMeToo</param-name>
            <param-value>servlet.someValue</param-value>
        </init-param>
    </servlet>
</web-app>