<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="foo" class="SpringXmlBean"/>
    <bean id="easyStaticCall" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="java.lang.System"/>
        <property name="targetMethod" value="getProperties"/>
    </bean>
    <bean id="easyStaticCallWithValueAsText" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass"><value>java.lang.Runtime</value></property>
        <property name="targetMethod"><value>getRuntime</value></property>
    </bean>
    <bean id="allInOneStaticCall" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="java.util.regex.Pattern.compile"/>
    </bean>
    <bean id="someOtherThing" class="de.is24.deadcode4j.MapFactory">
        <property name="key" value="value"/>
        <property name="targetClass" value="java.lang.Runtime"/>
    </bean>
</beans>